
<% daithuan_title "Tổng Quan" %>
<%= render partial: "overview/components/overview_header" %>
<%= render partial: "overview/components/widget" %>
<div class="grid grid-flow-row grid-cols-2 gap-[25px]">
    <%= render partial: "common/table", 
          locals: 
              {
              titleTable: "Lương nhân viên",
              color: "bg-gradient-to-r -from--brand-01  -to--color-orange",
              tableHeader: ["STT", "Mã nhân viên", "Tên nhân viên", "Lương", "Thưởng"],
              data: @employees,
              href: "overview/employee"
              } 
    %>

      <tbody class="list" v-cloak>
      <tr v-for="query in visibleItems">
        <td>
          <a :href="itemPath(query)" :class="{ dashboard: query.dashboard }">{{ query.name }}</a>
          <span class="vars">{{ query.vars }}</span>
        </td>
        <% if Blazer.user_class %>
          <td class="creator">{{ query.creator }}</td>
        <% end %>
      </tr>
    </tbody>
    <%= javascript_pack_tag 'hello_vue' %>

    <script>
  <%= blazer_js_var "dashboards", @dashboards %>
  <%= blazer_js_var "queries", @queries %>
  <%= blazer_js_var "more", @more %>
</script>


     <%= render partial: "common/table", 
           locals: 
               {
               titleTable: "Lương nhân viên",
               color: "bg-gradient-to-r -from--brand-01  -to--color-orange",
               tableHeader: ["STT", "Mã nhân viên", "Tên nhân viên", "Lương", "Thưởng"],
               data: @employees,
               href: "overview/employee"
               } 
    %>

     <%= render partial: "common/table", 
           locals: 
               {
               titleTable: "Đơn hàng",
               tableHeader: ["name", "status", "date", "progress"],
               data: @orders,
               href: "overview/employee"
               } 
    %>

    
     <%= render partial: "common/table", 
           locals: 
               {
               titleTable: "Lương nhân viên",
               color: "bg-gradient-to-r -from--brand-01  -to--color-orange",
               tableHeader: ["STT", "Mã nhân viên", "Tên nhân viên", "Lương", "Thưởng"],
               data: @employees,
               href: "overview/employee"
               } 
    %>


</div>