<div class="p-[25px]">
<h2 class="font-bold text-[18px] leading-6 mb-[25px]">Báo cáo tổng quan</h2>
<div class="grid grid-rows-2 grid-flow-col gap-[25px]">
<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-01 bg-clip-border text-white shadow-lg ">
<%= image_tag("icons/icon-no-name-01.svg", class: "size-[40px]") %>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">VNĐ 100M</h1>
    <p class="text-base font-normal">Tổng doanh số</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+8% so với hôm qua</p>
</div>

<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-04 bg-clip-border text-white shadow-lg ">
<%= image_tag("icons/icon-no-name-04.svg", class: "size-[40px]") %>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">VNĐ 100M</h1>
    <p class="text-base font-normal">Tổng sản phẩm đã bán</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+1,2% so với hôm qua</p>
</div>

<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-03 bg-clip-border text-white shadow-lg ">
<div class="size-[40px] rounded-full -bg--brand-01 flex items-center justify-center">
    <%= image_tag("icons/icon-no-name-03.svg", class: "size-[30px] ") %>
</div>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">VNĐ 100M</h1>
    <p class="text-base font-normal">Tổng doanh thu</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+8% so với hôm qua</p>
</div>

<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-02 bg-clip-border text-white shadow-lg ">
<%= image_tag("icons/icon-no-name-02.svg", class: "size-[40px]") %>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">8</h1>
    <p class="text-base font-normal">Khách hàng mới</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+0,5% so với hôm qua</p>
</div>



<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-05 bg-clip-border text-white shadow-lg ">
<%= image_tag("icons/icon-no-name-05.svg", class: "size-[40px]") %>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">347</h1>
    <p class="text-base font-normal">Tổng đơn hàng</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+5% so với hôm qua</p>
</div>

<div class="flex flex-col gap-[15px] px-5 py-[15px] overflow-hidden rounded-[16px] -bg--widget-06 bg-clip-border text-white shadow-lg ">
<%= image_tag("icons/icon-no-name-06.svg", class: "size-[40px]") %>
<div class="-text--text-base ">
    <h1 class="text-2xl font-bold  ">8</h1>
    <p class="text-base font-normal">Cửa hàng mới</p>
</div>
<p class="-text--color-blue-href leading-4 text-[12px] font-medium">+0,5% so với hôm qua</p>
</div>

</div>
</div>