<%
=begin
%>
FILEPATH: /home/ethan/workspaces/ruby/blazer/app/views/data_center/index.html.erb
This HTML ERB file is the index view for the "Data Center" feature in the application.
It displays a table of data centers with sorting and pagination functionality.
The data is fetched from the @data_centers instance variable.
If there is a result from the Omni Service, it is displayed in a formatted JSON format.
The user can also download the data centers in Excel format.
<%
=end
%>
<% daithuan_title "Trung Tâm Dữ Liệu" %>
<div class="pt-[25px]">
  <div class="flex justify-between gap-[25px] items-center flex-nowrap mb-[25px]">
    <h2 class=" text-2xl font-bold inline-block text-transparent bg-clip-text bg-gradient-to-r -from--brand-01 -to--color-orange  ">Trung tâm dữ liệu </h2>
    <div class="flex justify-between gap-[25px] items-center">
      <%
=begin%>
      <p class="text-base italic font-light"> (Last sync at 12:00:00 pm - 01/12/2023)</p>
      <%
=end%>
      <p class="text-base italic font-light">( Last sync at <%= last_sync_time_for_table('users') %> )</p>
      <%
=begin%>
      <%= render partial: "common/button", locals: {  color: "-bg--color-green-4", icon: "icons/radix-icons_update.svg", text: "Synchronized" } %>
      <%
=end%>
      <%= button_to  import_users_path, method: :post, class: "flex justify-center text-white items-center gap-[10px] py-[15px] min-w-[106px] h-full max-h-[55px] px-[20px] rounded-[4px] hover:opacity-80 hover:shadow-md drop-shadow-md -bg--color-green-4" do %>
        <%= image_tag('icons/radix-icons_update.svg') %>
        <span class="text-base font-bold -text--text-white">Synchronized</span>
      <% end %>
      <div data-controller="common">
        <div class="hidden" >
          <%= form_with(url: import_from_files_data_center_index_path, method: :post, local: true, multipart: true) do |form| %>
            <%= form.file_field :file, id: "file-input" %>
            <%= form.submit 'Import' %>
          <% end %>
        </div>
        <label  id="file-label" class="flex justify-center text-white items-center gap-[10px] py-[15px] max-w-[150px] h-full max-h-[55px] px-[20px] rounded-[4px] hover:opacity-80 hover:shadow-md drop-shadow-md -bg--color-blue hover:-bg--color-blue" for="file-input">
          <%= image_tag("icons/uploadFileSvg") %>
          <span class="text-base font-bold -text--text-white truncate" >Upload file</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="py-[25px]">
  <div class="w-full justify-between py-[25px]">
    <%= render partial: "common/picker", locals: { fromDate: 'Từ ngày', toDate: 'Đến ngày', selectTitle: 'Loại tìm kiếm', options: @itemsPerpage }%>
  </div>
</div>
<%
=begin
%>
<%= render partial: 'common/table',
locals:
    {
    items_per_page: 10,
    pagination: true,
    color: 'bg-gradient-to-r -from--brand-01  -to--color-orange',
    tableHeader: user_table_headers,
    data: @data_centers,
    route: 'data_center',
    } %>
<%
=end
%>
<%= render partial: 'common/table',
      locals: {
          items_per_page: 10,
          pagination: true,
          color: 'bg-gradient-to-r -from--brand-01 -to--color-orange',
          tableHeader: user_table_headers,
          data: @user_management,
          route: 'user',
      } %>
<%
=begin
%>
<% if @result %>
  <h2>Data from Omni Service</h2>
  <pre><%= JSON.pretty_generate(@result, @message) %></pre>
<% else %>
  <p>No data available</p>
<% end %>
<%= link_to "Download Data Centers", export_data_center_index_path(format: :xlsx), class: "btn btn-primary" %>
<%
=end
%>
</div>
