<!DOCTYPE html>
<html>
  <head>
    <title><%= daithuan_title ? daithuan_title : "Đại Thuận" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
        <% if defined?(Propshaft::Railtie) %>
      <%= javascript_include_tag "blazer/jquery", "blazer/rails-ujs", "blazer/stupidtable", "blazer/stupidtable-custom-settings", "blazer/jquery.stickytableheaders", "blazer/selectize", "blazer/highlight.min", "blazer/moment", "blazer/moment-timezone-with-data", "blazer/daterangepicker", "blazer/chart.umd", "blazer/chartjs-adapter-date-fns.bundle", "blazer/chartkick", "blazer/mapkick.bundle", "blazer/ace/ace", "blazer/ace/ext-language_tools", "blazer/ace/theme-twilight", "blazer/ace/mode-sql", "blazer/ace/snippets/text", "blazer/ace/snippets/sql", "blazer/Sortable", "blazer/bootstrap", "blazer/vue.global.prod", "blazer/routes", "blazer/queries", "blazer/fuzzysearch", "blazer/application" %>
    <% else %>
      <%= javascript_include_tag "blazer/application" %>
    <% end %>
  </head>
  <body>
    <main class=" h-dvh md:mx-[80px]  xxl:mx-[160px]">
      <div class="container  flex relative w-full max-w-[1600px]">
        <%= render partial: "shared/notifications", locals: { message: flash[:notice] } %>
        <div class="min-h-screen pt-[10px] flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50">
          <%= render partial: "shared/sidebar" %>
        </div>
        <div class="w-full md:max-w-[1107px] xxl:max-w-[1337px] px-[25px] pb-[60px] ">
          <%= render partial: "shared/header" %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
